<h1 mat-dialog-title> Add Condidate Form</h1>
<div mat-dialog-content>
<form [formGroup]="UrnesForm">

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input formControlName="listName" matInput placeholder="write name">
  </mat-form-field>

  </form>
</div>
    <div mat-dialog-action [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button style="margin-left: 8px;" mat-raised-button class="matgreen" (click)="addUrne()">{{actionBtn}}</button>
    </div>