<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Urnes
                        <button mat-raised-button class="btn-color pull-right" (click)="openDialog()">Add Urne</button></h4>
                        <p class="card-category"> Urnes Grid</p>                    
                    </div>
                    <div class="card-body">
                        <mat-grid-list cols="3" rowHeight="3:3">
                            <mat-grid-tile>
                                <div class="img-card iCard-style3">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <span class="card-title">Urne 1</span>
                                            <img src="../../assets/img/urne1.jpg"/>
                                        </div>  
                                    </div>
                                    <div class="card-link">
                                        <a routerLink="/vote" title="Open Vote">
                                            <span>Open Urne</span>
                                        </a>
                                    </div>
                                </div>   
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="img-card iCard-style3">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <span class="card-title">Urne 2</span>
                                            <img src="../../assets/img/urne1.jpg"/>
                                        </div>  
                                    </div>
                                    <div class="card-link">
                                        <a routerLink="/vote" title="Open Vote">
                                            <span>Open Urne</span>
                                        </a>
                                    </div>
                                </div> 
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="img-card iCard-style3">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <span class="card-title">Urne 3</span>
                                            <img src="../../assets/img/urne1.jpg"/>
                                        </div>  
                                    </div>
                                    <div class="card-link">
                                        <a routerLink="/vote" title="Open Vote">
                                            <span>Open Urne</span>
                                        </a>
                                    </div>
                                </div>    
                            </mat-grid-tile>
                          </mat-grid-list>    

                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  