

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">

        <h1><a href="/home"><img src="assets/img/logo.png" alt="" class="img-fluid"></a><a href="/home">E-VOTING</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="/home">Home</a></li>
          <li><a (click)="navigateToSection('info')">Info</a></li>
          <li><a (click)="navigateToSection('about us')">Abous Us</a></li>
          <li><a href="https://intersoft.net.au/contact/">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section class="hero-section" id="hero">

    <div class="wave">

      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-5 text-center text-lg-start">
              <h1 data-aos="fade-right">E-VOTING</h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Electronic voting allows your electors to vote without time <br> or geographical constraints, thus promoting accessibility <br> and participation. Your voters can vote from their home, <br> workplace, on a tablet, a smartphone, a computer.</p>
              <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="/login" class="btn btn-outline-white">LOGIN</a></p>
            </div>
            <div class="col-lg-7 iphone-wrap">
              <img src="assets/img/acceuil.png" alt="Image" class="phone-2" data-aos="fade-right">
                </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Home Section ======= -->
    <section class="section">
      <div class="container">

        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-5" data-aos="fade-up">
            <h2 id="info" class="section-heading">MORE INFORMATIONS ABOUT E-VOTING</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
            <div class="feature-1 text-center">
              <div>
                <img src="assets/img/fast.png" class="img-fluid" width="150px">
              </div>
              <h3 class="mb-3">IT'S FAST</h3>
            </div>
              <div class="feature-1" style="margin-left: 100px;">
              <p>
                - It only take a few minutes to vote.<br>
                - Automated counting.<br>
                - Immediate results as soon as the <br> vote closes.<br>
                - Easy employee voting.<br>
              </p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="feature-1 text-center">
              <div>
                <img src="assets/img/easy.png" class="img-fluid" width="150px">
              </div>
              <h3 class="mb-3">IT'S EASY AND SAFE</h3>
            </div>
              <div class="feature-1" style="margin-left: 100px;">
              <p>
                - Convenience for employees: voters<br>
                  can vote without time constraints,<br>
                  on the move and from any type of <br>
                  device connected to the internet.<br>
              </p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature-1 text-center">
              <div>
                <img src="assets/img/economic.png" class="img-fluid" width="150px">
              </div>
              <h3 class="mb-3">IT'S ECONIMIC</h3>
            </div>
              <div class="feature-1" style="margin-left: 100px;">
              <p>
                - All-inclusive price, calculated as <br>accurately as possible.<br>
                - Reduced voter mobilization.<br>
                - Reduction of human needs.<br>
                - Reduction or elimination of paper <br>support costs<br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section border-top border-bottom">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 ms-auto order-2">
            <h2 id="about us" class="mb-4">WHO WE ARE</h2>
            <p class="mb-4">Our primary aim at Intersoft is to provide our clients with a single point of
              contact for all things IT. We pride ourselves on delivering efficient and effective services,
              solutions and advice that allow you to focus on your own operations with minimal interruption.</p>
            <p><a href="https://intersoft.net.au/" class="btn btn-primary">Read More</a></p>
          </div>
          <div class="col-md-6 text-center" data-aos="fade-right">
            <img src="assets/img/intersoft.png" alt="Image" class="img-fluid" width="650px">
          </div>
        </div>
      </div>

    </section><!-- End Testimonials Section -->




  <!-- ======= Footer ======= -->
  <footer class="footer cta-section" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mb-4 mb-md-0" >
          <h3>About E-VOTING</h3>
          <p>Our primary aim at Intersoft is to provide our clients with a single point of
            contact for all things IT. We pride ourselves on delivering efficient and effective services,
            solutions and advice that allow you to focus on your own operations with minimal interruption.</p>
          <p class="social">
            <a href="#"><span class="bi bi-twitter"></span></a>
            <a href="#"><span class="bi bi-facebook"></span></a>
            <a href="#"><span class="bi bi-instagram"></span></a>
            <a href="#"><span class="bi bi-linkedin"></span></a>
          </p>
        </div>
        <div class="col-md-3 ms-auto" >
          <div class="row site-section pt-0">
            <div class="col-md-4 mb-4 mb-md-0" style="margin-left: 50px;">
              <h3>Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="#info">Info</a></li>
                <li><a href="#about us">Abous Us</a></li>
                <li><a href="https://intersoft.net.au/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright Intersoft. All Rights Reserved</p>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=SoftLand
          -->
          </div>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

