<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title "> home
                         <button mat-raised-button class="btn-color pull-right" (click)="download()">print results</button></h4>
        </div>
                    <div class="card-body">
                        welcome
              <hr>
                <img src="assets/img/homee.png" alt="home page" class="img-fluid">
            
                    </div>
                </div>
            </div>